.logement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 30px;
  color: var(--primary);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.headerLeftSide {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logement h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.logement h2 {
  font-size: 1rem;
  font-weight: 500;
}

.tagsContainer {
  display: flex;
  gap: 10px;
  margin-top: 3px;
}

.headerRightSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host {
  display: flex;
  gap: 10px;
  width: 100px;
  align-items: center;
}

.host p {
  text-align: end;
}

.host img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 26px;
  }
  .logement h1 {
    font-size: 2rem;
  }
  .headerRightSide {
    flex-direction: column-reverse;
  }

  .host img {
    width: 64px;
    height: 64px;
  }
}
