.carousel {
  position: relative;
  width: 100%;
}

.carousel button {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 2rem;
}

.chevronleft {
  left: 0;
}

.chevronright {
  right: 0;
}

button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel p {
  position: absolute;
  bottom: 1%;
  left: 50%;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

@media (min-width: 768px) {
  .carousel button {
    top: 40%;
    width: 6rem;
  }
}
