:root {
  --primary: #ff6060;
  --grey: #f6f6f6;
}

body {
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.logements-container {
  display: flex;
  flex-direction: column;
  margin: 22px auto;
  gap: 20px;
}

.apropos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 31px 0;
  gap: 33px;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  padding-top: 20%;
}

.error-page h1 {
  font-size: 96px;
}

.error-page h2 {
  font-size: 18px;
  text-align: center;
}

.error-page a {
  margin: 10%;
  text-decoration: underline;
  font-size: 14px;
}

@media (min-width: 768px) {
  .logements-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 0;
    grid-row-gap: 40px;
    padding: 56px 0;
    background-color: var(--grey);
    border-radius: 25px;
  }
  .error-page h1 {
    font-size: 288px;
  }

  .error-page h2 {
    font-size: 36px;
  }

  .error-page a {
    font-size: 18px;
  }
}
