:root {
  --primary: #ff6060;
  --grey: #f6f6f6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  margin: 22px auto;
}

.apropos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 31px 0;
  gap: 33px;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  padding-top: 20%;
}

.error-page h1 {
  font-size: 96px;
}

.error-page h2 {
  font-size: 18px;
  text-align: center;
}

.error-page a {
  margin: 10%;
  text-decoration: underline;
  font-size: 14px;
}

@media (min-width: 768px) {
  .logements-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 3%;
    background-color: var(--grey);
    border-radius: 25px;
  }
  .error-page h1 {
    font-size: 288px;
  }

  .error-page h2 {
    font-size: 36px;
  }

  .error-page a {
    font-size: 18px;
  }
}
