.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 16px 0;
  color: var(--primary);
}

a {
  color: var(--primary);
  text-decoration: none;
}

.links {
  display: flex;
  gap: 10px;
}

.active {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .navbar {
    padding: 40px 0 20px 0;
  }

  .links {
    font-size: 1.2rem;
    gap: 50px;
  }
}
