.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 1rem 16px 1rem;
  color: var(--primary);
}

a {
  color: var(--primary);
  text-decoration: none;
}

.links {
  display: flex;
  gap: 10px;
}
